@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
	overflow-x: hidden; /* Prevent horizontal scrolling */
	overflow-y: hidden; /* Prevent vertical scrolling if necessary */
	background-color: #1d1717;
}

.logo-screen-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-top: 150px;
}

.reveal-button,
.new-game-button {
	cursor: pointer;
	background-color: #ffe100;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	font-size: 16px;
	border: none;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.reveal-button:hover {
	background-color: #1feb95;
}

.dummy {
	width: 65px;
}

.up-down {
	width: 150px;
	margin-top: 10px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffe100;
	position: relative;
	cursor: pointer;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	color: #000;
}

.down {
	position: absolute;
	content: '';
	width: 50%;
	height: 100%;
	background-color: transparent;
	left: 0;
	cursor: pointer;
	z-index: 4;
	pointer-events: all;
}

.icon-minus,
.icon-plus {
	position: absolute;
	content: '';
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	width: 21px;
	height: 21px;
	background-color: #fff;
	color: #000;
	border-radius: 50%;
	border: 1px solid black;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
}

.icon-minus span,
.icon-plus span {
	line-height: 18px;
	font-size: 22px;
	padding-bottom: 2px;
}

.icon-plus span {
	padding-bottom: 3px;
}

.icon-plus {
	right: -10px;
	left: unset;
}

.up-down-text {
	position: relative;
	z-index: 3;
	cursor: pointer;
}

.up {
	position: absolute;
	cursor: pointer;
	content: '';
	width: 50%;
	height: 100%;
	background-color: transparent;
	right: 0;
	z-index: 4;
	pointer-events: all;
}

.logo-screen {
	border-radius: 10px;
	width: 350px;
	height: 358px;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 160px;
		height: 160px;
		object-fit: contain;
	}
}

.poker-table {
	overflow: hidden;
}

.poker-table {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 92vh;
	background-color: #1d1717;
	color: white;
}

/* Header Section */
.header {
	position: absolute;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.cards-header {
	width: 100%; /* Ensure it takes full width */
	height: 120px; /* Adjust the height to a smaller size */
	object-fit: contain; /* Make sure the image scales while maintaining aspect ratio */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1; /* Ensure it doesn't overlap other content */
}

.crown-section {
	/* position: fixed; */
	/* right: 20px; */
	/* top: 55vh; */
	/* transform: translateY(-50%); */
	z-index: 999; /* Keep the crown and text on top of the card image */
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	pointer-events: all;
}

.crown-icon {
	position: relative;
	z-index: 999;
	width: 27px;
	cursor: pointer;
	margin-bottom: 5px;
}

.chips {
	font-size: 18px;
	color: #fff;
}

/* Cards Section */
.cards-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	height: 100%;
}

.table-cards,
.user-cards,
.computer-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px; /* Space between the cards */
}

.computer-cards {
	margin-top: 40px;
}

.card {
	width: 70px;
	height: 100px; /* Adjust the size as per your design */
	object-fit: contain;
	position: relative;
}

.flash-text {
	display: block;
	font-size: 24px;
	position: absolute;
	content: '';
	top: 30%;
	left: 0%;
	width: 100%;
}

.win-text {
	font-size: 30px;
	font-weight: bold;
	color: #ffe100;
	position: absolute;
	content: '';
	top: 65%;
	left: 0;
	width: 100%;
}

/* Controls Section */
.controls {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 30px;
	min-height: 200px;
	max-height: 200px;
	margin-top: -50px;
}

.bank-icon-container,
.bet-icon-container {
	position: relative;
	width: 70px; /* Increased size to fit the value */
	height: 70px; /* Adjust size */
	display: flex;
	justify-content: center;
	align-items: center;
}

.bank-icon,
.bet-icon {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.bank-value,
.bet-value {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	font-weight: bold;
	color: #000;
	font-size: 10px;
}

.bank-text,
.bet-text {
	margin-top: 1px;
	font-size: 16px;
	text-align: center;
}

/* Deal Button */
.deal-button,
.new-game-button,
.reveal-button,
.new-game-button,
.withdraw,
.add-chip {
	background-color: #ffe100;
	border: none;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 0 10px;
	width: 170px;
	border: 2px solid #fff;
	border-radius: 12px;
	cursor: pointer;
	margin: 0 20px;
	transition: all 0.3s ease-in-out;
}

.deal-button:hover,
.new-game-button:hover,
.add-chip:hover,
.withdraw:hover {
	background-color: #1feb95;
}

.deal-button:disabled,
.new-game-button:disabled,
.reveal-button:disabled,
.new-game-button:disabled {
	background-color: #9e8c06;
	color: #000;
	cursor: not-allowed;
}

/* Bet Controls for + and - */
.bet-controls {
	display: flex;
	margin-top: 5px;
}

.bet-minus,
.bet-plus {
	background-color: rgba(255, 255, 255, 0.34);
	color: #fff;
	border: none;
	font-size: 22px;
	min-width: 30px;
	min-height: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
}

.bet-minus {
	margin-right: 5px;
}

.bet-minus:hover {
	background-color: rgb(215, 50, 50);
}

.bet-plus:hover {
	background-color: #1feb95;
}

.add-balance {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.7);
	border: 2px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	margin: 0 auto;
	margin-top: 5px;
}

.flash-text,
.win-text {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.cards-wrap {
	height: 100%;
}

.card-container {
	width: 70px;
	height: 100px;
	perspective: 1000px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transform-style: preserve-3d;
}

.card-face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.card-front {
	transform: rotateY(180deg);
}

.card-back {
	transform: rotateY(0deg);
}

.card-face img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.brightAnimation {
	animation: bright 0.3s;
	animation-delay: 1.8s;
}

@keyframes bright {
	0% {
		filter: brightness(1);
	}
	100% {
		filter: brightness(0.5);
	}
}

.btns-section {
	margin-top: 80px;
}

.bank,
.bet {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bet {
	height: 100%;
}

.all-in {
	height: 47px;
	padding: 15px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.all-in button {
	width: 100%;
	height: 50%;
	background-color: #ffe100;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.all-in button:hover {
	background-color: #1feb95;
}

/* profile */

.head-profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding: 16px 15px 15px 29px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.center h2 {
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}

.balance-profile {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100px;
	height: 117px;
	margin: 0 auto;
}

.balance-profile img {
	position: absolute;
	content: '';
	object-fit: cover;
}

.balance-profile span {
	position: relative;
	z-index: 2;
	color: #000;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	padding-left: 7px;
}

.bottom-profile {
	display: flex;
	justify-content: space-around;
	padding-bottom: 40px;
}

.my-profile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 92vh;
}

.popup {
	position: fixed;
	content: '';
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.openedPopup {
	position: fixed;
	content: '';
	background-color: #1d1717;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 9999;
	inset: 0;
}

.closePopup {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.contentPopup {
	padding: 20px;
}

.logoPopup {
	width: 108px;
	height: 116px;
	margin: 0 auto;
}

.logoPopup img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.titleContent {
	text-align: center;
	padding: 0 20px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 12px;
}

.combinationPopup {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.itemPopup {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.itemPopup h4 {
	text-align: center;
	color: #ffe100;
	margin: 0;
	padding: 0;
}

.itemPopup p {
	text-align: center;
	padding: 0 5px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 12px;
}

.itemPopup img {
	margin: 0 auto;
	max-width: 385px;
	height: 84px;
}

/* Adjust layout for mobile screens */
@media (max-width: 600px) {
	.controls {
		flex-direction: row; /* Change to row to align items in a row */
		margin-bottom: 20px;
		min-height: 185px;
		max-height: 185px;
		margin-top: -80px;
	}

	.table-cards {
		margin-top: 0px;
	}

	.btns-section {
		margin-top: 0px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.bank,
	.bet {
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.deal-button {
		margin: 0;
		padding: 10px 20px;
	}

	.cards-section {
		margin-top: 0;
		height: 100%;
		justify-content: space-between;
	}

	.card {
		width: 70px;
		height: 100px;
	}

	.flash-text {
		margin-bottom: 20px;
		text-align: center;
		font-size: 26px;
	}
	.win-text {
		top: 68%;
		left: 0;
		font-size: 25px;
		margin-bottom: 60px;
		text-align: center;
	}

	.table-cards,
	.user-cards,
	.computer-cards {
		justify-content: center;
	}

	.all-in button {
		height: 100%;
	}
}
